html{
  scroll-behavior: smooth;
}

svg{
  display: block;
  line-height: 0;
}

#navbar a:active{
  color: rgba(255, 255, 255, .8);
  font-weight: 600;
}

#navbar a:visited{
  color: rgba(255, 255, 255, .3);
}

.jumbotron {
  background-color: #e2edff;
  padding-top: 5rem;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

a{
  text-decoration: underline;
  color: black;
}

.link-footer:hover{
  color: #0000ff;
}

.link-footer:visited{
  color: black;
}

.link-footer:active{
  color: black;
}
