html{
  scroll-behavior: smooth;
}

#navbar a:active{
  color: white;
  background-color: rgba(255, 255, 255, .3);
  font-weight: bold;
  text-shadow: 0 0 5px yellow;
}

.jumbotron {
  background-color: #e2edff;
  padding-top: 5rem;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

a{
  text-decoration: underline;
  color: black;
}

.link-footer:hover{
  color: #0000ff;
}

.link-footer:visited{
  color: black;
}

.link-footer:active{
  color: black;
}
