.jumbotron {
  background-color: #e2edff;
  padding-top: 2rem;
}

.projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

a{
  text-decoration: underline;
  color: black;
}

a:hover{
  color: #0000ff;
}
